body, html {
  height:calc(100% - 40px);
  width:100%;
  margin:0px;
}
body {
  .button-container {
    //width:250px;
    float:left;
    button {
      margin-bottom:5px;
    }
    p {
      cursor:pointer;
      font-size:12px;
      color:$main-orange;
      text-decoration:underline;
      text-align:center;
    }
  }
  & > .ember-view {
    height:100%;
    width:100%;
    margin:0px;
  }
  .top-flag {
    margin-top:-18px;
    background-color:white;
    overflow:auto;
    padding-top:20px;
    transition: height .5s linear;
    &.false {
      height:0px;
      transition: height .5s linear;
    }
    .container {
      max-width:940px;
      margin:0px auto;
      display:table;
      & > p {
        @include span-columns(7);
        text-align:center;
      }
      .button-container {
        @include span-columns(5);
      }
    }


  }
  font-size:18px;
  a {
    color:$blue-1a;
  }
  p {
    font-family: 'Libre Baskerville', serif;
  }
  .liquid-container {
    /*
    position:absolute !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    */
    height:100%;
    width:100%;
  }
  .liquid-child {
    height:100%;
  }
	ul {
		list-style: none;
	}
	header {
    padding: 10px 20px;
    height:80px;
    //position:fixed;
    //z-index: 5;
    //top: 65px;
    //left: 0;
    width:100%;
    & > div {
      display:inline-block;
    }
    & > div:last-child {
      float:right;
    }
    .logo {

        width:160px;
        height:40px;
        background-size:100%;
        background-position: left top;
        background-repeat: no-repeat;
    }
    nav {
      font-family: 'Avenir', 'Open-Sans', 'Helvetica', sans-serif;
      text-transform: uppercase;
      float:right;
      font-size: 24px;
      cursor:pointer;
      margin-right:20px;

    }
    ul {
      margin-top:0px;
    }
  }
  footer {
  	//position:absolute;
  	width:100%;
    padding:10px 0px;
    margin-top:-45px;
    //left:0px;
  	nav {
      display:table;
      margin:0px auto;

  		ul {
  			margin:0px;
  			padding:0px;
  			li {
          display:inline-block;
  				cursor: pointer;

          position:relative;
          font-family: 'Avenir', 'Open-Sans', 'Helvetica', sans-serif;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 200;
  				&.active {
  					// border-bottom:1px solid black;
  				}
          &:not(:last-child) {
            margin-right:40px;
          }
  			}
  		}
  	}
  }
}

@media (min-width: 769px) {
  footer {
    bottom:20px;
  }
}

@media (max-width: 768px) {
  footer {
    bottom:0px;
  }
}

@media (min-width: 416px) {
  .top-flag {
    height:120px;
  }
}

@media (max-width: 415px) {
  .top-flag {
    padding: 0px 5px;
    height:135px;
    .btn {
      padding:10px 25px;
    }
  }

  header {
    .logo {
      margin:0px auto;
      display:table;
    }
    .header-nav {
      width:100%;
    }
    nav {
      width:100%;
      margin:0px !important;
      ul {
        padding:0px;
        display:table;
        margin:0px auto;
        li {
          font-size:18px;
        }
      }

    }
  }
	.index-main {
		& > img {
			//display:none;
		}
  }
  .body-text {
  	padding:100px 20px;
  	@include span-columns(12);
    img {
      margin:20px auto;
    }
  }
}
