$green-1a: #52b74c;
$green-1b: #72cd2d;
$green-1c: #93e30f;
$main-green: #27a520;
$green-2b: #36c013;
$green-2c: #46dC06;
$green-3a: #1f8419;
$green-3b: #2ba90f;
$green-3c: #37d005;

$blue-1a: #516a9f;
$blue-1b: #51bb78;
$blue-1c: #91ab52;
$main-blue: #264588;
$blue-2b: #355a58;
$blue-2c: #446f28;
$blue-3a: #1e376c;
$blue-3b: #2a4740;
$blue-3c: #365915;

$orange-1a: #d68d53;
$orange-1b: #e6af31;
$orange-1c: #f6d310;
$main-orange: #cc7128;
$orange-2b: #e09318;
$orange-2c: #f4b708;
$orange-3a: #a35a20;
$orange-3b: #c77513;
$orange-3c: #e79106;
