.btn {
    border: none;
    font-family: 'Avenir Light';
    font-size: 14px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 12px 40px;
    display: table;
    margin: 15px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-2 {
    background: $main-green;
    color: #fff;
    box-shadow: 0 3px $green-3a;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
    &:active {
      box-shadow: 0 0 $green-3a;
      top: 6px;
    }
}
