<div class="index-main">
	<img src="assets/logo-light-blue-big.svg" />
	<div class="body-text">
		<img src="assets/design-society.png" />
		<p>Follow us to help us curate our first collection</p>
		<div class="social-box">
		 	<a target="_blank" href='https://www.facebook.com/spofforddesign/'>
				{{fa-icon 'facebook-square'}}
			</a>
			<a target="_blank" href='https://twitter.com/spofforddesign'>
				{{fa-icon 'twitter-square'}}
			</a>
			<a target="_blank" href='https://www.instagram.com/spofforddesign/?hl=en'>
				{{fa-icon 'instagram'}}
			</a>
			<a target="_blank" href="https://www.pinterest.com/spofforddesign/">
				{{fa-icon 'pinterest-square'}}
			</a>
		</div>
	</div>
</div>

<!-- git trigger -->
