<div class="index-main">
	<img src="assets/logo-light-blue-big.svg" />
	<div class="body-text">
		<img src="assets/design-society.png" />
		<p>Follow us to help us curate our first collection</p>
		<div class="social-box">
			{{fa-icon 'facebook-square'}}
			{{fa-icon 'twitter-square'}}
			{{fa-icon 'instagram'}}
			{{fa-icon 'pinterest-square'}}
		</div>
	</div>
</div>
